networks:
  app-network:
    driver: bridge

services:

  # ASP.NET Core Web API Application
  sgp-webapi:
    image: ${DOCKER_REGISTRY-}sgp-webapi
    container_name: sgp-webapi
    build:
      context: .
      dockerfile: src/SGP.PublicApi/Dockerfile
    restart: unless-stopped
    links:
      - "sgp-sql-server"
      - "sgp-redis"
    networks:
      - app-network
    depends_on:
      - "sgp-sql-server"
      - "sgp-redis"

  # SQL Server
  sgp-sql-server:
    image: mcr.microsoft.com/azure-sql-edge:latest
    cap_add: [ 'SYS_PTRACE' ]
    hostname: mssql
    container_name: sgp-sql-server
    restart: always
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=pMA63033n6tF
    networks:
      - app-network

  # Redis Cache Server
  sgp-redis:
    image: redis:latest
    container_name: sgp-redis
    command: redis-server --requirepass pMA63033n6tF
    restart: always
    expose:
      - "6379"
    ports:
      - "6379:6379"
    networks:
      - app-network
