name: .NET Core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2
    - name: Setup .NET Core

      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore /p:ContinuousIntegrationBuild=true

    - name: Test
      run: dotnet test --no-build --verbosity diagnostic /p:CollectCoverage=true /p:CoverletOutputFormat=opencover

    - name: Codecov
      uses: codecov/codecov-action@v2